extends ./layouts/default

block content

    .wrapper.clearfix
      #welcomeSign
        h1
          center  Help Portal
        center    
          p#ticketIdHolder 
                   
      .list-group.main-section1.marginSep1.addBorder
       
        h2.text-center Create Help Ticket
                         
        br
                           
        
        center
          button.btn.btn-primary.btn-lg.customBtn(data-toggle="modal", data-target="#myModalNorm") Create Ticket
      
       
      .list-group.main-section2.marginSep2.addBorder
        
        .card(style='width: 32rem;')
          .card-block
            h2.card-title.text-center Have you tried FAQs?
                      
        br
        
        .card(style='width: 32rem;')
          .card-block
                               
            center
              a.btn.btn-primary.customBtn(href='/faqs') FAQs
    
    .wrapper
      h1 Tickets
      ul.nav.nav-tabs
        li.active
          a#list-all(data-toggle="tab") All &nbsp;
            #count-all.badge ?
        li
          a#list-pending(data-toggle="tab") Pending &nbsp;
            #count-pending.badge ?
        li
          a#list-processing(data-toggle="tab") In Processing &nbsp;
            #count-processing.badge ?
        li
          a#list-completed(data-toggle="tab") Completed &nbsp;
            #count-completed.badge ?
        li
          a#list-abandoned(data-toggle="tab") Abandoned &nbsp;
            #count-abandoned.badge ?

    
      .panel.panel-default
        .panel-heading
          .row
            .col-md-1 status
            .col-md-3 id
            .col-md-4 title
            .col-md-1 priority
            .col-md-1.text-right created
            .col-md-1.text-right updated
            .col-md-1 Attempts

        //.list-group
          //a#loading-prev.list-group-item.text-center
            //i.fa.fa-chevron-up=" More Newer Tickets"

        #list.list-group
          each ticket in tickets
            a.list-group-item(href="api/tickets/#{ticket.id}")
              .row
                .col-md-1
                  !=helper.genLabelByStatus(ticket.status)
                .col-md-3
                  small
                    code=ticket.id
                .col-md-4=ticket.title
                .col-md-1=ticket.priority
                .col-md-1.text-right
                  !=helper.genDateTag(ticket.created_at)
                .col-md-1.text-right
                  !=helper.genDateTag(ticket.updated_at)
                .col-md-1=ticket.attempts
            
        .list-group
          a#loading-next.list-group-item.text-center
            i.fa.fa-chevron-down=" More Older Tickets"

    #myModalNorm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      form.comment(action="/api/tickets/new", method="POST")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') &times;
                span.sr-only Close
              h4#myModalLabel.modal-title
                  Create Ticket
            .modal-body
              form(role='form')
                .form-group
                  label.control-label Ticket title
                  input#title.form-control(type='text', name="title")
                .form-group
                  label.control-label Priority
                  select#priority.form-control(name="priority")
                    option(value="" selected disabled) Choose...
                    option(value="Low") Low
                    option(value="Mediun") Mediun
                    option(value="High") High
                  
                .form-group
                  label.control-label Content
                  textarea#content.md-textarea.form-control(type='text', style='height: 100px; width: 100%', name="content")
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button#submit.btn.btn-primary(type='buttom') Submit Ticket
              
block scripts
  script(src='ticketman/js/endless_scroll/jquery.scroll-on-mongoose.js', type='text/javascript')
  script(src='ticketman/js/jquery.prettydate.js', type='text/javascript')
  
  script(type='text/javascript').
    if(jQuery){
      jQuery(document).ready(function() {
        // active jQuery timeago
        if(jQuery(".timeago").length > 0) jQuery(".timeago").prettyDate();

        //Validate input
        $('#submit').on('click', function(e){
          e.preventDefault();

          var title = $('#title').val().trim();
          if(title === ""){
            var label = $('<label class="has-error">');
            label.text('Please enter a title');
            $('#title').after(label);
            $('#title').parent()..addClass('has-error');
            return
          }
        })
      });
    }

  script(type='text/javascript', src='/js/tickets.js')
      

